; {{ ansible_managed }}
[uwsgi]
; https://github.com/mapproxy/mapproxy/blob/master/docker/uwsgi.conf
master = true
chdir = /mapproxy
pyargv = /mapproxy/config/mapproxy.yaml
wsgi-file = /mapproxy/app.py
pidfile=/tmp/mapproxy.pid
socket = 0.0.0.0:8080
processes = 2
threads = 10
chmod-socket = 777
uid = mapproxy
gid = mapproxy
plugin = python3

; https://www.bloomberg.com/company/stories/configuring-uwsgi-production-deployment/
strict = true
enable-threads = true
vacuum = true
single-interpreter = true
die-on-term = true
need-app = true

stats = 0.0.0.0:9191

listen = 4096

max-worker-lifetime = 14405
worker-reload-mercy = 90

thunder-lock = true

disable-logging = true
log-4xx = true
log-5xx = true
