# {{ ansible_managed }}
server {
    listen       8080;
    server_name  {{ leaflet_qgis_stack_main_host }};
    server_tokens off;
    port_in_redirect off;

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        add_header Content-Security-Policy "{{ leaflet_qgis_stack_nginx_csp_header }}";
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    gzip_static on;
    gzip_proxied any;
    expires {{ leaflet_qgis_stack_nginx_expires }};
    add_header Cache-Control "public, no-transform";
    add_header Vary "Accept-Language, Accept-Encoding";
    access_log off;
}
